.container {
    max-width: 1110px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.header{
    background: #E1EDE6;
}

.header__menu {
    height: 100px;
    /* padding: 33px 165px 32px 165px; */
    justify-content: center;
    align-items: center;
}
.flex {
    display: flex;
}
.sb {
    display: flex;
    justify-content: space-between;
}
.a-i-c{
    display: flex;
    align-items: center;
}
.header__logo h6{
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 8px;
}
.green {
    color: #598D66;
}
.header__link {
    display: flex;
    align-items: flex-start;
    gap: 60px;
}
.header__link a{
    color: #2C2D35;

    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.first-screen__img {
    margin-right: 30px;
}
.first-screen__text  h1{
    width: 540px;
    color: #2C2D35;

    font-family: Raleway;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 66px */
}

.first-screen__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-screen__text p{
    width: 540px;
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin: 20px 0 60px;
}
.first-screen__btn {
    display: inline-flex;
    height: 65px;
    width: 227px;
    /* padding: 20px 60px; */
    justify-content: center;
    align-items: center;
    border: 1px solid #598D66;

    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.reproduction-nav{
    margin: 70px 0 30px;
}

.reproduction-title{
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 44px */
}
.reproduction__btn{
    gap: 32px;
    display: flex;
    word-wrap: break-word;
}
.reproduction__btn a{

    display: flex;
    padding: 10px 20px;
    align-items: flex-start;
    border-radius: 20px;
    background: #D4E8D9;
    color: #2C2D35;

    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.reproduction__link{
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.green-btn{
    background: #376B44 !important;
    color: #F4F6F5 !important;
    
}
.reprodution__cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.reprodution__card img{
    width: 310px;
    height: 422px;
}

.reprodution__card{
    width: 310px;
    height: 690px;
    padding: 20px;
    background: #E1EDE6;
}

.reproduction__artist{color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 20px 0 10px;
}

.reproduction__picture-name{
    color: #2C2D35;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.reproduction__picture-info{color: #2C2D35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 8px 0 30px;
}

.reproduction__picture-price{
    color: #598D66;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.reproduction__in-cart{
    width: 310px;
    display: flex;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: 1px solid #598D66;
    margin: 20px 0 10px;
    background: #E1EDE6;

    color: #598D66;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.new-collection{
    background-image: url("/images/new-collection/background.svg");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1440px;
    height: 574px;
    margin: 70px 0 70px;
    padding-top: 70px;
}

.new-collection__img-title{
    margin-bottom: 20px;
    gap: 20px;
}

.new-collection__title{
    width: 421px;
    word-wrap: break-word;

    color: #F4F6F5;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 40px */
}

.new-collection__text{
    width: 540px;
    word-wrap: break-word;

    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */

    margin-bottom: 60px;
}

.new-collection__link{
    display: inline-flex;
    height: 65px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    background-color: #EEDB6D;

    color: #2C2D35;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.our-team{
    margin-bottom: 70px;
}

.our-team__content{
    padding: 124px 0 44px 30px;
    gap: 20px;
}

.our-team__title{
    color: #2C2D35;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 44px */
}

.our-team__text{
    width: 635px;
    word-wrap: break-word;

    margin: 20px 0;

    color: #2C2D35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}

.our-team__photo_space-between{
    margin: 0 30px;
}

.footer{
    background: #E1EDE6;
    padding: 23px 0;
}

.footer__left{
flex-direction: column;
}

.footer__phone{
    color: #2C2D35;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer__left p{
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 6px;

}

.footer__center{
    gap: 60px;
}

.footer__center_title{
    color: #2C2D35 !important;
    font-size: 20px !important;
}

.footer__center_list{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer__center_list a{
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}

.footer__right_social-m{
    margin-bottom: 10px;
    gap: 30px;
}

.footer__right p{
    color: #86928B;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 14.4px */

    margin-bottom: 6px;
}

